# requirements.txt

# FastAPI and Server
fastapi
uvicorn[standard]
python-multipart

# Logging and Development
rich
watchdog

# PDF Analysis Core Library
magic-pdf[full]
huggingface_hub
PyMuPDF

# Task Queue System
celery[redis]>=5.0